@inherits Custom.Hybrid.RazorTyped
@using ToSic.Razor.Blade;
@{
  // Determine the widths of each part, based on 12 Bootstrap columns
  var imgResizeFactor = "4/12";  // Each Album uses 4 columns

  // visual effect for mouse interaction
  var effect = "effect-zoom"; // alternative: "effect-darken"; 

  // query whether BS5 or BS4 for Class
  var isBs5 = Kit.Css.Is("bs5");
  var bsPill = isBs5 ? "rounded-pill" : "badge-pill";
}

<div class="app-ga7-main">
  <div class="row">
    @* Loop through all the Albums *@
    @foreach (var album in AsItems(MyData)) {
      @* Get the main album image or if not available, the first in the images, or empty *@
      var images = album.Folder("Images").Files;
      var fallbackTitle = album.String("Title");
      var linkAlbum = Link.To(parameters: "album=" + album.String("Path"));

      @* Show one Album Thumbnail with Link etc. *@
      <div class="col-12 col-sm-6 col-md-6 col-lg-4 mb-4" @Kit.Toolbar.Default(album)>
        <a class="app-ga7" href='@linkAlbum'>
          <figure class="app-ga7-image @effect">
            <figcaption class="overlay d-flex align-items-end">
              <div class="caption with-badge">
                <span class="text-uppercase">@album.String("Title")</span>
                <span class="badge @bsPill">@images.Count()</span>
              </div>
            </figcaption>

            @* If we have a thumbnail use that, otherwise use the first image in the album *@
            @if (Text.Has(album.String("AlbumThumbnail"))) {
              @Kit.Image.Picture(album.Field("AlbumThumbnail"), settings: "Content", factor: imgResizeFactor, imgAltFallback: fallbackTitle)
            } else {
              if (images.Any()) {
                @Kit.Image.Picture(images.First().Url, settings: "Content", factor: imgResizeFactor, imgAltFallback: fallbackTitle)
              } else {
                // FYI: This code will probably never run, because images are a required field
                @Kit.Image.Picture(App.Path + "/app-icon.png", settings: "Content", factor: imgResizeFactor, imgAltFallback: fallbackTitle)
              }
            }
          </figure>
        </a>
      </div>
    }
  </div>
</div>

@Html.Partial("Assets.cshtml")