@inherits Custom.Hybrid.RazorTyped
@{
  // 2. Include Bootstrap4 if the framework isn't known
  @Kit.Page.Activate(condition: Kit.Css.IsUnknown, features: "Bootstrap5")

  // 3. Show warning for admin if koi.json is missing 
  if (Kit.Css.IsUnknown && MyUser.IsSiteAdmin) {
    <div class='dnnFormMessage dnnFormWarning'>
      @Html.Raw(Connect.Koi.Messages.CssInformationMissing) <br>
      @Html.Raw(Connect.Koi.Messages.OnlyAdminsSeeThis)
    </div>
  }

  // 4. Include styles of the App
  <link rel="stylesheet" href="@MyView.Folder.Url/dist/styles.min.css" @Kit.Page.AssetAttributes()/>

  // 5. If we need scripts (only on the single-album-view) activate these. Note that MyModel contains the parameters

   if (MyModel.Bool("scripts", required: false)) {
    // Init options for fancybox binding
    // This is only partial - if you want to see more, see https://fancyapps.com/docs/ui/fancybox/options
    var fancyboxOptions = new {
      groupAll = true,
      mainClass = "app-ga7-fancybox", 
      Thumbs = new {
        autoStart = false
      }
    };
    var data = new {
      attribute = MyModel.String("FancyboxAttribute", required: false),
      options = fancyboxOptions
    };

    // Activate turnOn and Fancybox4 - see https://r.2sxc.org/turnon - fancybox4 is a standard WebResources in 2sxc
    Kit.Page.Activate("fancybox4");
    Kit.Page.TurnOn("window.appGalleryV7.init()", data: data, require: "window.Fancybox");

    <script type="text/javascript" src="@MyView.Folder.Url/dist/scripts.min.js" @Kit.Page.AssetAttributes(position:"bottom")></script>
  }
}
