@inherits Custom.Hybrid.Razor12
@using ToSic.Razor.Blade;
@using Dynlist = System.Collections.Generic.IEnumerable<dynamic>;
@{
  // Determine the widths of each part, based on 12 Bootstrap Cols
  var imgResizeFactor = (float)4 / 12;

  // Get url params for re-use below. 
  // Uses global Image Settings http://r.2sxc.org/settings
  // and new Link.Image helper
  var thumbnailParams = Link.Image("", Settings.Images.Content, factor: imgResizeFactor);
}
<hr>

<div class="ga-wrapper">
  <div class="ga-albums">
    <div class="row">
      @foreach (var album in AsList(Data)) {
        var images = AsAdam(album, "Images").Files as Dynlist;
        var albumThumbUrl = Text.Has(album.AlbumThumbnail)
          ? album.AlbumThumbnail
          : images.Any() ? images.First().Url : ""; // new 2dm
        var linkAlbum = Tags.SafeUrl(Link.To(parameters: "album=" + album.Path));
        var linkThumbnail = Tags.SafeUrl(albumThumbUrl + thumbnailParams);

        <div class="ga-album col-12 col-sm-6 col-md-6 col-lg-4 mb-4" @Edit.TagToolbar(album)>
          <a href='@linkAlbum'>
           
              <div class="overlay d-flex align-items-end">
                <h5 class="ga-title">@album.Title <span class="badge badge-pill badge-dark float-right">@images.Count()</span></h5>
              </div>
              <img loading="lazy" class="img-fluid" src='@linkThumbnail' alt="@album.Title" />
          </a>
        </div>
      }
    </div>
  </div>
</div>

@Html.Partial("_Part WebResources.cshtml")